/*------------------------------------*\
  #SECTION-HEADER
\*------------------------------------*/

.header {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $color-text;
  background: linear-gradient(180deg, $color-secondary 98%, $color-contrast 100%);
  background-color: $color-secondary;
  border-bottom: solid 5px $color-contrast;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 0px;

    @media (min-width: $breakpoint-tablet) {
      width: 150px;
      height: 225px;
    }
  }
}

.header__main { 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  h1 { 
    text-transform: uppercase;
    
    span { color: #ff9933; }
  }
  
  p { 
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
}

.header__detail { display: flex; }

.header__contact {
  display: none;
  padding-right: 30px;
  
  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

}









/*------------------------------------*\
  #SECTION-MAIN
\*------------------------------------*/

.main {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }  
}

.main__detail {
  min-width: 200px;

  @media (min-width: $breakpoint-tablet) {
    width: 420px;
    margin-right: 20px;
  }
}

.main__info {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}


.card {
  margin-bottom: 40px;
}

.card-info {
  @media (min-width: $breakpoint-desktop) {
    width: 45%;
    margin-right: 10px;
  }
}

.card__title {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: solid 20px $color-secondary;

  @media (min-width: $breakpoint-tablet) {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-top: 0;
    border-right: solid 2px $color-secondary;
    border-right-style: solid;
    border-right-width: 2px;
    border-image: linear-gradient(to bottom, $color-white, $color-contrast) 1 100%;
  }
}

.list__line {
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: $color-secondary;

    &:hover {
      color: $color-contrast;
      transition: .2s;
    }
  }
}





/*------------------------------------*\
  #SECTION-FOOTER
\*------------------------------------*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: $color-text;
  background-color: $color-secondary;
}
