/* Iconos propios que no se encuentran en FontAwesome */
%i {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  content: "";
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
  
.facebook {
  background-image: url("~/src/assets/images/i-facebook.png");
 
  @extend %i;
}

.twitter {
  background-image: url("~/src/assets/images/i-twitter.png");

  @extend %i;
}

.instagram {
  background-image: url("~/src/assets/images/i-instagram.png");

  @extend %i;
}

.linkdn {
  background-image: url("~/src/assets/images/i-linkdn.png");
  
  @extend %i;
}


/* FontAwesome edición */
%i {
  margin-right: 15px;
  font-size: 16px;
  color: $color-contrast;
}

.icon { @extend %i; }
