/* Elemento para mostrar un registro con título, descripción y detalles */
.item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 25px;
}

.item__header {
  display: flex;
  flex-grow: 2;
  padding-left: 10px;
  border-left: solid 3px $color-contrast;

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
    border: 0;
  }
}

.item__detail {
  flex-grow: 1;
  font-size: .9rem;
  color: #737373;
  text-align: right;
}

.item__title {
  flex-grow: 1;
  font-weight: 700;

  & p:nth-child(2) {
    font-weight: 400;
    color: #737373;
  }
}

.item__body {
  padding-left: 15px;
  margin-top: 10px;
}
  