@use "sass:color";

$font-page: "Noto Sans JP", sans-serif;

$color-secondary: #242222;
$color-contrast: #ff9933;
$color-text: #d9d9d9;
$color-black: #000;
$color-white: #fff;
$color-grey: #ccc;

$breakpoint-phone: 414px;
$breakpoint-sm-tablet: 512px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
