/**
* Use this file to import partials.
* Do not include SCSS code in this file.
*/

/**
* Import variables
*/

@import "variables";

/**
* Import npm dependencies
* see: https://v2.parceljs.org/features/module-resolution/
* see commented examples below
*/

@import "@fortawesome/fontawesome-free/css/all.css";

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
* Import layouts
*/

@import "general/index";

@import "layouts/index";


/**
* Do NOT include anything else in this file!
*/
